Tests: test-version
Depends: @

Tests: test-show
Depends: @, @builddeps@
Restrictions: isolation-container, needs-internet

Tests: test-unittest
Depends: @, @builddeps@
Restrictions: isolation-container, flaky, build-needed
