Source: shoogle
Section: devel
Priority: optional
Maintainer: David Steele <steele@debian.org>
Build-Depends: debhelper (>=11),
               dh-python,
               python3-setuptools,
               python3-all,
               pandoc,
Standards-Version: 4.2.1
Homepage: https://pypi.python.org/pypi/shoogle/
Vcs-Browser: https://github.com/davesteele/shoogle/tree/debian
Vcs-Git: https://github.com/davesteele/shoogle.git -b debian


Package: shoogle
Architecture: all
Multi-Arch: foreign
Depends: ${python3:Depends},
         ${misc:Depends},
         ${shlibs:Depends},
         python3-googleapi,
         python3-jsmin,
         python3-httplib2,
Description: Google API from the command line
 Use the Google API from the shell. This utility can list
 APIs available, and exercise the methods.
