#!/usr/bin/make -f
#export DH_VERBOSE = 1

export PYBUILD_INSTALL_ARGS=--install-lib=/usr/share/shoogle
export PYBUILD_DISABLE=test

%:
	dh $@ --with python3 --buildsystem=pybuild


override_dh_auto_build:
	dh_auto_build -O--buildsystem=pybuild
	pandoc debian/shoogle.1.md -s -t man -o debian/shoogle.1
